* {
    box-sizing: border-box;
}

body {
    background-color: #e2e8f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* home file (index) */
.home-main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    font-size: 150px;
    margin: 60px;
    font-weight: 800;
}

.play-btn {
    background-image: linear-gradient(to top right, #ec4899, #eab308);
    box-shadow: 5px 5px rgb(82 82 82);
    border-radius: 26px;
    width: 480px;
    font-size: 70px;
    font-weight: 700;
    color: white;
    padding: 18px 50px;
}

.play-btn:hover {
    background-image: linear-gradient(to top right, #be2e75, #c79a06);
}

.play-btn:hover .flip-text {
    transform: rotateX(360deg);
}


/* game file */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-title {
    margin: 0 30px;
    font-size: 44px;
    font-weight: 700;
}

.game-stats {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 490px;
    padding: 0px 40px;
    border-radius: 0 0 0 40px;
    background-image: linear-gradient(to top right, #ec4899, #eab308);
}

.stat-para {
    color: white;
    font-size: 30px;
    margin: 10px;
}

.game-content {
    margin: 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.game-img {
    width: 48%;
    align-self: flex-start;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.guess-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    background-color: #eff4f9;
    border-radius: 12px;
}


.city-input {
    padding: 12px 18px;
    font-size: 27px;
    margin: 20px 0px;
    border-radius: 14px;
    border: solid 1px gray;
}

.table {
    padding: 5px;
}

.guess-header,
.guess-row {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 8px 2px;
    text-align: center;
    align-items: center;
}

.guess-header {
    font-weight: bold;
    font-size: 26px;
    border-bottom: 2px solid #000;
}

.minejums {
    font-size: 24px;
    border-right: solid 2px gray;
    font-weight: 600;
    padding: 12px 0;
}

.guess-row {
    background-color: white;
    font-size: 18px;
    margin: 10px 0px;
    padding: 10px 2px;
    border-radius: 12px;
}

.guess-count-para {
    text-align: right;
    color: rgb(32, 32, 32);
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 12px;
    width: 270px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 0px;
    background-image: linear-gradient(to top right, #ec4899, #eab308);
}

.guess-count {
    color: white;
    font-size: 30px;
}

.correct-region,
.correct-county,
.incorrect-county,
.incorrect-region {
    padding: 14px 20px;
    margin: 5px 15px;
    border-radius: 12px;
}

.correct-county,
.correct-region {
    background-color: #22c55e;
}

.incorrect-county,
.incorrect-region {
    background-color: #b4b5b6;
}

.title-link {
    text-decoration: none;
    color: black;
}

/* Correct guess */
.correct-main {
    padding: 20px;
    width: 60%;
    margin: auto auto;
}

.city-title {
    font-size: 92px;
    margin: 20px 0;
    background-image: linear-gradient(to top right, #ec4899, #eab308);
    border-radius: 18px;
    padding: 2px 27px 12px;
    text-align: center;
}

.city-desc {
    margin: 0 0 30px;
}

.infographic {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.correct-img {
    height: 360px;
    border-radius: 20px;
}

.map {
    border-radius: 20px;
}

.guess-score-box {
    position: fixed;
    display: flex;
    height: 220px;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
    box-shadow: 0 -0.5px 0 rgba(100, 116, 139, 0.5);
}

.total-score-container {
    font-size: 70px;
    margin-top: 10px;
    color: #64748b;
    font-weight: bold;
}

.correct-score {
    margin-left: 90px;
    font-size: 50;
    color: black;
}

.round-button {
    background-image: linear-gradient(to top right, #ec4899, #eab308);
    padding: 16px 40px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-radius: 25px;
    border: 0;
    box-shadow: 5px 5px rgb(82 82 82);
    margin: 0px 0 20px;
}

.round-button:hover {
    background-image: linear-gradient(to top right, #be2e75, #c79a06);
}

.round-button:hover .flip-text {
    transform: rotateX(360deg);
}

/* Results page */

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-title {
    font-size: 9vw;
    background: linear-gradient(to right, rgb(231, 43, 137), #eab308);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 170px auto 20px;
    letter-spacing: -4px;
}

.results-box {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.results-text {
    font-size: 6vw;
    margin: 20px;
    color: #25bafa;
    font-weight: bolder;
    letter-spacing: -2px;
}

.result-score {
    font-size: 5vw;
    font-weight: bold;
    margin: 0px;
    text-align: right;
}

.max-score {
    margin: 0px;
    text-align: right;
}

.again-btn {
    margin-top: 120px;
    padding: 22px 34px;
    border: 0;
    border-radius: 26px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to top right, #ec4899, #eab308);
    box-shadow: 5px 5px rgb(82 82 82);
}

.again-btn:hover {
    background-image: linear-gradient(to top right, #be2e75, #c79a06);
}

.again-btn:hover .flip-text {
    transform: rotateX(360deg);
}

.flip-text {
    display: inline-block;
    transition: transform 1.2s ease-in;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}