{% extends "base.html" %}

{% block content%}
<div class="home-main">
    <h1 class="main-title">Latvia<span style="color: rgb(56, 190, 248);">Guessr</span></h1>
    <button class="play-btn" onclick="window.location.href='/game'"><span class="flip-text">Spēlēt 🞂</span></button>
</div>


<script>
    localStorage.setItem('totalScore', 0);
    localStorage.setItem('roundCount', 1);
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            window.location.href = '/game';
        }
    });
</script>
{%endblock%}